@import "modern-normalize.css";

:root {
  --backgroundColor: #303446;
  --fontColor: #c6d0f5;
  --accentColor: #f4b8e4;

  --backgroundColor2: #292c3c;
  --backgroundColor3: #232634;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  color: var(--backgroundColor);
}

header {
  flex: none;
  height: 3rem;
  background-color: var(--accentColor);
}

aside {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  grid-template-rows: 4rem 1rem;

  h1 {
    font-size: 4rem;
    color: var(--accentColor);
  }
}

main {
  margin: auto;
  width: 900px;
  margin: auto;
}

footer {
  flex: none;
  height: 2rem;
  background-color: var(--accentColor);
  color: var(--backgroundColor);
}

.project-card-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card {
  background-color: var(--backgroundColor2);
  border-radius: 20px;
  max-width: 20rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card:hover {
  .project-title {
    color: var(--accentColor);
  }
  cursor: pointer;
}

.project-title {
  border-bottom: black solid 1px;
  background-color: var(--backgroundColor3);
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.project-description {
  margin: 0rem 1rem;
}

.project-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1rem 0.2rem 1rem;
  background-color: var(--backgroundColor3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.todo-cards {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

.todo-card {
  background-color: var(--backgroundColor2);
  width: 60ch;
  margin-bottom: 2rem;
  border: 2px var(--accentColor) solid;
  border-radius: 15px;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;

  .card-main {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    border-bottom: 3px solid var(--fontColor);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    transition: all 0.5s ease-in;
    transition-behavior: allow-discrete;
  }
  .complete {
    grid-area: 1/1/1/2;
  }
  .complete:hover {
    cursor: pointer;
  }
  .title {
    grid-area: 1/2/1/3;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .date {
    grid-area: 1/3/1/4;
  }
  .description {
    margin-bottom: 0.5rem;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    transition: all 0.25s ease-in;
    transition-behavior: allow-discrete;
  }
  .description > p {
    grid-area: 1/2/1/3;
    transition: display 2.5s ease-in;
    transition: height 2.5s ease-in;
    transition: opacity 0s linear;
    transition-behavior: allow-discrete;
  }
  .notes {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    font-style: italic;
    text-align: start;
  }
  .notes > span {
    grid-area: 1/2/1/3;
  }
}

.mini {
  .card-main {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .description {
    display: none;
    height: 0px;
    opacity: 0;
  }
  .description > p {
    display: none;
    height: 0px;
    opacity: 0;
  }
}

i.fa-regular {
  font-size: 1.8rem;
}
