@import "modern-normalize.css";

:root {
  --backgroundColor: rgb(55, 51, 61);
  --fontColor: rgb(196, 198, 199);
  --accentColor: rgb(158, 73, 16);
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: none;
  height: 3rem;
  background-color: var(--accentColor);
}

aside {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  grid-template-rows: 4rem 1rem;

  h1 {
    font-size: 4rem;
    color: var(--accentColor);
  }
}

main {
  margin: auto;
  width: 900px;
  margin: auto;
}

footer {
  flex: none;
  height: 2rem;
  background-color: var(--accentColor);
}

.project-card-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card {
  background-color: var(--accentColor);
  border-radius: 20px;
  max-width: 20rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.project-title {
  border-bottom: black solid 1px;
  background-color: aliceblue;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.project-description {
  margin: 0rem 1rem;
}

.project-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1rem 0.2rem 1rem;
  background-color: aliceblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.todo-cards {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

.todo-card {
  width: 60ch;
  margin-bottom: 2rem;
  border: 2px pink solid;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr 5fr 2fr;

  text-align: center;

  .complete {
    grid-area: 1/1/1/2;
  }
  .title {
    grid-area: 1/2/1/3;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 3px solid var(--fontColor);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .date {
    grid-area: 1/3/1/4;
  }
  .description {
    grid-area: 2/2/2/3;
    border-bottom: 1px solid var(--fontColor);
    margin-bottom: 0.5rem;
    text-align: start;
  }
  .notes {
    grid-area: 3/2/3/3;
    font-style: italic;
    text-align: start;
  }
}

i.fa-regular {
  font-size: 1.8rem;
}
